*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.calculator{
    display:flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    height:100vh;
    background-color: #1e1e2f;
}
button{
    font:inherit;
    height:3rem;
    width:3rem;
    margin-top:1rem;
    background-color: #2d2d44;
    color:#f1f1f1;
}
input{
    font:inherit;
    height:2rem;
    width:12rem; 
    background-color: lightgrey;
    border:1px solid black;
    padding:0.5rem;  
    background-color: #111122;
    color:#f1f1f1;
}
#x{
    font:inherit;
    height:3rem;
    width:6.4rem;
}
#ac{
    font:inherit;
    height:3rem;
    width:6.4rem;
    background-color: #ff6f61;
}
#res{
   background-color: #ff6f61; 
}
#title{
    background-color: #1e1e2f;
    color:#f1f1f1;
    font-size: 1rem;
    font-family: Georgia;
    text-align: center;
    margin:1rem 1rem;
}
